  /* Grid layout */
  body {
    background-color: #cd9575;
    overflow-y: scroll;
    overflow-x: hidden;
    margin:0;
    width: 100vw;
  }

  .img_item1 > img{
    border-radius:15px 15px 0 0;
    height:200px;
  }

  .container {
    ;
    display: flex;
    height: 100vh;
    width: 100vw;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header Header Header Header Header Header Header Header"
      "Sidebar Sidebar Sidebar Sidebar Sidebar Sidebar Sidebar Sidebar"
      "underbar underbar underbar underbar underbar underbar underbar underbar"
      "main main main main main main main main"
      "main main main main main main main main"
      "footer footer footer footer footer footer footer footer";
  }

  /* Header related elements */
  #Header {
    background-image: url("../images/schaakbord.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    grid-area: Header;
    height:150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  #Header img{
    width:auto;
    margin-left:10px;
  }

  /* main related elements */


  #main {
    grid-area: main;
    justify-content: center;
  }

  .Itempanel {
    padding-bottom:10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #koptekst{
    display: flex;
    justify-content:center;
    text-align:center;
    align-items:center;
    margin-left:15%;
    width:70%;
  }
  .txt_item {
    margin-bottom:25px;
    width:50%;
    margin-right:10px;
    margin-top:60px;
    padding-left:10px;
    padding-top:10px;
    text-align: left;
    margin-left:10px;
    align-items: center;
    font-size:20px;
  }

  .txt_item1 {
    margin-bottom:25px;
    width:50%;
    margin-right:10px;
    margin-top:60px;
    padding-left:10px;
    padding-top:10px;
    text-align: left;
    margin-left:10px;
    align-items: center;
    font-size:20px;
  }

  a > img{
    width:99%;
    height:500px;

  }
  .img_item {
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: center;
  }

  .img_item>b {
    font-size:18px;
    position:absolute;
    top:0;
    color: #00DAFF;
    display: flex;
    text-align: top;
    Justify-content: left;
  }

  .middle_container {
    margin-left:10px;
    font-size:20px;
    width:30px;
    padding-right:15px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .middle{
    padding-bottom:15px;
    font-size:25px;
    font-weight:bold;
    display:flex;
    justify-content:center;
  }

  /* Sidebar related elements */


  #Sidebar {
    height:10vh;
    margin-bottom:10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: #be2d32;
    grid-area: Sidebar;
  }

  .text {
    margin-left:35px;
    text-decoration: none;
    font-family: agency FB;
    display: flex;
    line-height: 0.9em;
    font-size: 30px;
  }
  a{
    color:white;
  }
  a:hover{
    color:black;
    text-decoration: underline;
  }



  /* footer related elements */


  #footer {
    align-items:center;
    justify-content:center;
    text-align:center;
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    font-family: 'Agency FB', arial;
    color: white;
    background-color: #be2d32;
    grid-area: footer;

  }

  #footer > p{
    font-size:12px;
  }
  /* underbar related elements */


  #underbar {
    margin-bottom:10px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Agency FB';
    color: white;
    background-color: #cd9575;
    grid-area: underbar;
  }

  #underbar p {
    color: white;
    height: 10px;
    width: 10px;
  }

  /* Selectors */





  * {
    box-sizing: border-box;
    font-family: 'Agency FB', arial;
    font-weight: 14px;
  }

  a {

    text-decoration: none;
  }

  #appel{
  transition: all .2s ease-in-out;
  }
  #appel:hover{
  transform: scale(1.1);
  }

  /* media querys */

 @media screen and (max-width:975px){
   #sidetext{
     font-size:19px;
   }
   .txt_item{
     font-size:17px;
   }
 @media screen and (max-width:1050px) {
   #sidetext{
    /* height:700px;*/
     grid-area:sidetext;
     border-radius;:0% 5%;
   }
 }
  @media screen and (max-width:850px) {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1.3fr 0.7fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 0.5fr 0.5fr 1fr  1fr 1.8fr 0.2fr;
      gap: 0px 0px;
      grid-template-areas:
        "Sidebar Sidebar Sidebar Sidebar Sidebar Sidebar Sidebar Sidebar"
        "Header Header Header Header Header Header Header Header"
        "underbar underbar underbar underbar underbar underbar underbar underbar"
        "sidetext sidetext sidetext sidetext sidetext sidetext sidetext sidetext "
        "main main main main main main main main"
        "footer footer footer footer footer footer footer footer";
    }

    #Header img{
      width:auto;
    }
    #Header{
      height:100px;
    }
    #Sidebar {
      height: 17vh;
      margin:0;
    }

    .middle{
      padding:0;
    }
    .middle_container {
      background-color:black;
      color:white;
      margin-right:10px;
      font-size:30px;
      width:500px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

    }

    .img_item1 > img{
      height:150px;
    }
    body {
      overflow: auto;
      overflow-x: hidden;
    }
    a > img {
     width:500px;
     justify-content:center;
     display:flex;

    }
    .img_item{
      flex-direction: row;
    }
    #underbar{
      margin-bottom:0px;
    }
    #sidetext{
      background-color: #00BBFF;
      text-align:left;
      margin-right:0;
      padding-right:25px;
      margin-top:0;
      font-size:20px;
      margin-bottom:10px;
      border-radius:0 0 0 0;
      height:auto;
    }
    .txt_item{
      background-color: #be2d32;
      border-radius:0% 0% 5% 5%;
      width:240px;
      font-size:20px;
      margin-top:0px;
      padding:20px;
    }
    .Itempanel{
      align-items:center;
      padding-top:30px;
      flex-direction:column;
    }
    #Sidebar{
      justify-content:center;
    }
  .text {
      margin:0;
      padding:0;
      text-align:justify;
      flex-direction: column;
      font-family: Agency FB;
      color: white;
      line-height:1.0;
      font-size: 30px;
    }

    #footer {
      position: fixed;
      display: flex;
      justify-content: center;
      bottom: 0;
      height: 25px;
      width: 100%;
      font-family: 'Agency FB', arial;
      font-size: 13px;
      color: white;
      background-color: #be2d32;
      grid-area: footer;

    }
    #footer p {
      position: absolute;
      top:0;
      font-size:10px;
    }
    }
      @media screen and (max-width:500px) {
        #sidetext{
          /*height:260px;*/
          font-size:15px;
        }
        .img_item1 > img{
          height:100px;
        }
        a > img{
          height:250px;
        }
        .itempanel{

          margin:0;
          width:240px;
        }
        .middle_container{
          width:240px;
        }
        .txt_item{

          width:240px;
        }
        a > img{
          width:350px;
        }
      }
